<section class="experts" id="experts">
  <div class="container experts-inner">

    <h2 class="experts-title">Meet Our <span class="experts-span">experts</span></h2>

    <div class="img-container">

      <div class="experts-slide">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/whyUs/combat_instr-1x.png" />
          <img class="experts-img" src="./img/whyUs/combat_instr-2x.png" alt="Survival Training: " />
        </picture>
        <div class="text-img-wrapper">
          <h3 class="experts-title-h3">Mark Reynolds</h3>
          <p class="experts-swiper-text">Combat & Self-Defense Specialist</p>
          <p class="experts-swiper-text2">Former military instructor with expertise in hand-to-hand combat and survival
            strategies.</p>
        </div>
      </div>

      <div class="experts-slide">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/whyUs/Skydiving_Expert-1x.png" />
          <img class="experts-img" src="./img/whyUs/Skydiving_Expert-2x.png" alt="Survival Training: " />
        </picture>
        <div class="text-img-wrapper">
          <h3 class="experts-title-h3">Emma Carter</h3>
          <p class="experts-swiper-text">Aerial & Skydiving Expert</p>
          <p class="experts-swiper-text2">Certified skydiving pro who has completed over 5,000 jumps worldwide.</p>
        </div>
      </div>

      <div class="experts-slide">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/whyUs/moto_champion-1x.png" />
          <img class="experts-img" src="./img/whyUs/moto_champion-2x.png" alt="Survival Training: " />
        </picture>
        <div class="text-img-wrapper">
          <h3 class="experts-title-h3">Ali Demir</h3>
          <p class="experts-swiper-text">Extreme Motorsports Champion</p>
          <p class="experts-swiper-text2">National motocross champion with years of experience in stunt riding and
            off-road racing.</p>
        </div>
      </div>


      <div class="experts-slide">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/whyUs/expedit_trainer-1x.png" />
          <img class="experts-img" src="./img/whyUs/expedit_trainer-2x.png" alt="Survival Training: " />
        </picture>
        <div class="text-img-wrapper">
          <h3 class="experts-title-h3">Sarah Lewis</h3>
          <p class="experts-swiper-text">Wilderness & Survival Guide</p>
          <p class="experts-swiper-text2">Expert in outdoor survival, firecraft, and expedition planning.</p>
        </div>
      </div>
    </div>

  </div>

</section>