<section class="experts" id="experts">
  <div class="container experts-inner">

    <div class="text-wrapper-expert">
      <p class="experts-text-paragraph">Adrenaline</p>
      <h2 class="experts-title">experience</h2>
    </div>

    <div class="img-wrapper">


      <div class="experts-slide">
        <div class="experts-wrap">
          <picture>
            <source media="(min-width: 1200px)" srcset="./img/experts/picExp1-1x.png" />
            <img class="experts-img" src="./img/experts/picExp1-2x.png" alt="Survival Training: " />
          </picture>
          <div class="text-img-wrap">
            <h3 class="experts-title-h3">Storm Warrior Challenge</h3>
            <p class="experts-swiper-text">Our signature obstacle course designed to push you beyond your limits — mud
              runs,
              rope climbs, and endurance tests
              await!</p>
          </div>
        </div>
      </div>

      <div class="experts-slide">
        <div class="experts-wrap">
          <picture>
            <source media="(min-width: 1200px)" srcset="./img/experts/picExp2-1x.png" />
            <img class="experts-img" src="./img/experts/picExp2-2x.png" alt="Survival Training: " />
          </picture>
          <div class="text-img-wrap">
            <h3 class="experts-title-h3">Wilderness Survival Weekend</h3>
            <p class="experts-swiper-text">Our signature obstacle course designed to push you beyond your limits — mud
              runs,
              rope climbs, and endurance tests
              await!</p>
          </div>
        </div>
      </div>

      <div class="experts-slide">
        <div class="experts-wrap">
          <picture>
            <source media="(min-width: 1200px)" srcset="./img/experts/picExp3-1x.png" />
            <img class="experts-img" src="./img/experts/picExp3-2x.png" alt="Survival Training: " />
          </picture>
          <div class="text-img-wrap">
            <h3 class="experts-title-h3">High-Speed Desert Chase</h3>
            <p class="experts-swiper-text">Feel the rush of adrenaline with high-speed dune buggy races across the Konya
              desert!</p>
          </div>
        </div>
      </div>

      <div class="experts-slide">
        <div class="experts-wrap">
          <picture>
            <source media="(min-width: 1200px)" srcset="./img/experts/expPic4-1x.png" />
            <img class="img-size" src="./img/experts/expPic4-2x.png" alt="Survival Training: " />
          </picture>
          <div class="text-img-wrap">
            <h3 class="experts-title-h3">The Ultimate Sky Dive</h3>
            <p class="experts-swiper-text">Take the leap! Tandem skydiving experiences for the bravest adventurers
              looking
              to defy gravity.</p>
          </div>
        </div>
      </div>

    </div>


  </div>

</section>