<section class="getReady" id="getReady">
  <div class="container">
    <div class="getReady-inner">
      <h2 class="getReady-title">
        Get Ready for the <span class="getReady-span">challenge</span>
      </h2>
    </div>
  </div>

  <div class="getReady-bg">
    <div class="container">
      <div class="img-getReady-wrap">
        <img src="./img/superpower 1.png" alt="" />
        <p class="getReady-info">
          Are you ready to take on the wild, the heights, and the impossible?
          Storm Luck Hero is calling.
        </p>
        <h3 class="getReady-h3">Will you answer?</h3>
        <p class="getReady-contact">Contact us at:</p>
        <a class="getReady-link" href="#">info@stormluckhero.com</a>
      </div>
    </div>
  </div>
</section>