<section id="getReady">
  <div class="container getReady-inner">
    <h2 class="getReady-title">Success <span class="getReady-span">stories</span></h2>

    <div class="getReady">
      <div class="getReady-img">
        <img src="./img/getReady/rev1.png" alt="people">
      </div>

      <div class="getReady-img">
        <img src="./img/getReady/rev2.png" alt="people">
      </div>

      <div class="getReady-img">
        <img src="../img/getReady/rev3.png" alt="people">
      </div>

    </div>

  </div>
</section>