<header class="header" id="header-id">
  <div class="header-inner header-container">
    <button class="burger_menu-js" type="button">
      <img class="burger-icon" src="../img/header/burger-regular.png" width="24px" height="24px" alt="burger_menu" />
    </button>
  </div>

  <!-- ЗАДНИЙ ФОН -->
  <div class="menu-overlay-js"></div>

  <nav class="mobile-nav-js">
    <div class="mobile-menu-inner">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item-js"><a href="./index.html">Home</a></li>
        <li class="mobile-menu-item-js"><a href="#offer">What We Offer</a></li>
        <li class="mobile-menu-item-js"><a href="#experiences">Adrenaline Experiences</a></li>
        <li class="mobile-menu-item-js"><a href="#stories">Success Stories</a></li>
        <li class="mobile-menu-item-js"><a href="#whyUs">Why Choose Us</a></li>
        <li class="mobile-menu-item-js"><a href="#getReady">Get Ready</a></li>
        <li class="mobile-menu-item-js"><a href="#experts">Our Experts</a></li>
      </ul>

      <div class="policy-link">
        <a href="../privacy-policy.html">Privacy Policy</a>
        <a href="../terms-and-conditions.html">Terms & Conditions</a>
        <a href="../cookies-policy.html">Cookies Policy</a>
      </div>
    </div>
  </nav>
</header>