<section id="offer-id">
  <div class="container offer-inner">
    <div class="offer">
      <div class="text-container">
        <p class="welcome-text">Welcome to</p>
        <h1 class="offer-title">Storm Luck <span class="hero-span">Hero</span></h1>

        <p class="offer-text-info">Storm Luck Hero is where adventure meets skill. Our extreme sports and survival
          training
          center
          in Konya is designed to
          transform thrill-seekers into fearless champions. Whether you're an adrenaline junkie or a first-time
          explorer,
          our
          world-class instructors will guide you through the ultimate challenges.</p>
      </div>

      <div class="offer-text">
        <p class="offer-text-1">Push your <span class="color">limits.</span></p>
        <p class="offer-text-2"><span class="color">Conquer</span> your fears.</p>
        <p class="offer-text-3">Become <span class="color">unstoppable</span></p>
      </div>
    </div>
  </div>
</section>