<section class="offer" id="offer">
  <div class="container">
    <div class="offer-inner">
      <h2 class="offer-title">What We<span class="offer-span">Offer</span></h2>


      <div class="swiper swiper-gallery">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1200px)" srcset="./img/offer/pic1.jpg" />
              <img class="swiper-img" src="./img/experiences/pic1-2x.jpg" alt="Survival Training: " />
            </picture>
            <h3 class="offer-title-h3">Survival Training:</h3>
            <p class="offer-swiper-text">Master the art of endurance in the wild with expert-led survival skills,
              fire-starting techniques, and shelter building.</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1200px)" srcset="./img/offer/pic2.jpg" />
              <img class="swiper-img" src="./img/experiences/pic2-2x.jpg" alt="Extreme Motor Sports: " />
            </picture>
            <h3 class="offer-title-h3">Extreme Motor Sports:</h3>
            <p class="offer-swiper-text">Experience the rush of off-road biking, motocross, and ATV adventures
              across challenging terrains.</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1200px)" srcset="./img/offer/pic3.jpg" />
              <img class="swiper-img" src="./img/experiences/pic3-2x.jpg" alt="Archery & Combat Training: " />
            </picture>
            <h3 class="offer-title-h3">Archery & Combat Training:</h3>
            <p class="offer-swiper-text">Develop precision, strength, and strategy with guided archery and
              self-defense sessions.</p>
          </div>
          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1200px)" srcset="./img/offer/pic4.jpg" />
              <img class="swiper-img" src="./img/experiences/pic4-2x.jpg" alt="Water & Air Sports: " />
            </picture>
            <h3 class="offer-title-h3">Water & Air Sports:</h3>
            <p class="offer-swiper-text">From white-water rafting to paragliding, experience the thrill of
              conquering
              nature’s elements.</p>
          </div>
          <div class="swiper-slide slider">
            <picture>
              <source media="(min-width: 1200px)" srcset="./img/offer/pic5.jpg" />
              <img class="swiper-img" src="./img/experiences/pic5-2x.jpg" alt="Rock Climbing & Obstacle Courses: " />
            </picture>
            <h3 class="offer-title-h3">Rock Climbing & Obstacle Courses:</h3>
            <p class="offer-swiper-text">Test your strength and agility with rock climbing challenges, rope
              courses,
              and tactical obstacle training.</p>
          </div>

          <div class="swiper-slide">
            <picture>
              <source media="(min-width: 1200px)" srcset="./img/offer/pic4.jpg" />
              <img class="swiper-img" src="./img/experiences/pic4-2x.jpg" alt="Water & Air Sports: " />
            </picture>
            <h3 class="offer-title-h3">Water & Air Sports:</h3>
            <p class="offer-swiper-text">From white-water rafting to paragliding, experience the thrill of
              conquering
              nature’s elements.</p>
          </div>
        </div>

        <div class="swiper-navigation">
          <div class="swiper-button-prev">
            <svg width="32" height="32">
              <use xlink:href="#icon-arrow-narrow-left"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg width="32" height="32">
              <use xlink:href="#icon-arrow-narrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>



  </div>


  <div class="custom-pagination">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>


  </div>

  </div>

</section>