<section id="stories">
  <div class="stories-bg">
    <div class="container stories-inner">
      <h2 class="stories-title">Success <span class="stories-span">stories</span></h2>

      <div class="stories">
        <div class="stories-img">
          <img src="./img/getReady/rev1.png" alt="people">
        </div>

        <div class="stories-img">
          <img src="./img/getReady/rev2.png" alt="people">
        </div>

        <div class="stories-img img-size">
          <img src="./img/getReady/rev3.png" alt="people">
        </div>
      </div>
    </div>
  </div>
</section>