<section class="whyUs" id="whyUs">
  <div class="container whyUs-inner">
    <h2 class="whyUs-title">Why <span class="stories-span">Choose Us</span></h2>
    <img class="whyUs-img" src="../img/stories/arrow.jpg" alt="Survival Training:" />

    <div class="whyUs-card">
      <div class="whyUs-content">
        <div class="whyUs-header">
          <div class="whyUs-number">1</div>
          <h3 class="whyUs-heading">World-Class Instructors:</h3>
        </div>
        <p class="whyUs-description">Train with professionals who have conquered extreme environments.</p>
      </div>
    </div>

    <div class="whyUs-card">
      <div class="whyUs-content">
        <div class="whyUs-header">
          <div class="whyUs-number">2</div>
          <h3 class="whyUs-heading">Cutting-Edge Facilities:</h3>
        </div>
        <p class="whyUs-description">Experience top-notch training grounds designed for real-world adventure.</p>
      </div>
    </div>

    <div class="whyUs-card">
      <div class="whyUs-content">
        <div class="whyUs-header">
          <div class="whyUs-number">3</div>
          <h3 class="whyUs-heading">All Skill Levels Welcome:</h3>
        </div>
        <p class="whyUs-description">From beginners to experts, we tailor every challenge to match your abilities.</p>
      </div>
    </div>

    <div class="whyUs-card">
      <div class="whyUs-content">
        <div class="whyUs-header">
          <div class="whyUs-number">4</div>
          <h3 class="whyUs-heading">Ultimate Adrenaline Rush:</h3>
        </div>
        <p class="whyUs-description">Push your mental and physical limits in the most thrilling ways imaginable.</p>
      </div>
    </div>

    <div class="whyUs-card">
      <div class="whyUs-content">
        <div class="whyUs-header">
          <div class="whyUs-number">5</div>
          <h3 class="whyUs-heading">Safety First:</h3>
        </div>
        <p class="whyUs-description">All experiences are guided by professionals, ensuring a safe but exhilarating
          journey.</p>
      </div>
    </div>
  </div>
</section>