/* Общие стили для галереи */
.experiences {
  background-color: #070d12;
  padding: 40px 0;
  width: 100%;
}

.experiences-inner {
  padding-left: 16px;
}

.experiences-title {
  display: flex;
  justify-content: center;
  font-family: "Grape Nuts", sans-serif;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 24px;
}

.experiences-span {
  font-family: "Bungee Inline", sans-serif;
  color: #b42d2d;
  margin-left: 16px;
}

.experiences-title-h3 {
  font-family: "Bungee Inline", sans-serif;
  color: #b42d2d;
  font-weight: 400;
  font-size: 24px;
  width: 300px;
}

.experiences-swiper-text {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  width: 300px;
}

/* Стиль для swiper-галереи */
.swiper-gallery {
  overflow: visible;
}

.swiper-wrapper {
  display: flex;
  transition-timing-function: ease;
}



.swiper-img {
  width: 300px;
  margin-bottom: 24px;
}

.custom-pagination {
  display: flex;
  width: 300px;
  height: 16px;
  justify-content: flex-start;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.custom-pagination .bar {
  background-color: #b42d2d;
  height: 100%;
  width: 0%;
  /* Стартовая ширина для каждого прогресса */
  transition: width 0.4s ease;
}

.custom-pagination .bar.active {
  width: 20%;
  /* Прогресс бар будет увеличиваться по ширине на 20% на каждый слайд */
}