.experience {
  margin-bottom: 40px;
}


.text-wrapper-experience {
  display: flex;
  padding: 40px 61px 24px 61px;
  flex-direction: column
}




.experience-text-paragraph {
  font-weight: 400;
  font-size: 34px;
  font-family: "Grape Nuts", sans-serif;
  ;
}


.experience-title {
  font-weight: 400;
  font-size: 34px;
  font-family: "Bungee Inline", sans-serif;
  color: #d4991a;
}


/* .experts-slide {
 padding: 0px 0px 8px 0px;
 background: #070d12;
 margin-bottom: 16px;
} */


.experience-slide {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background: #070d12;
  padding: 0 0 8px 0;
  margin-bottom: 16px;
}


.experience-slide:last-of-type {
  margin-bottom: 0;
}


.experience-img {
  width: 340px;
  height: 204px;
  margin-bottom: 16px;
}


.experience-title-h3 {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: #d4991a;
  font-family: "Bungee Inline", sans-serif;
  margin-bottom: 24px;
  width: 327px;
}


.text-img-wrap {
  padding: 0px 24px;
}


.experience-swiper-text {
  width: 327px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f0f0f0
}


.experience-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;


}


.img-size {
  width: 375px;
}

@media screen and (min-width: 1440px) {
  .text-wrapper-experience {
    display: flex;
    width: 522px;
    flex-direction: row;
    gap: 16px;
  }

  .experience-text-paragraph {
    font-size: 44px;
  }


  .experience-title {
    font-size: 44px;
  }

  .img-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .experience-wrap {
    display: flex;
    flex-direction: row;
  }

  .experience-img {
    width: 400px;
    height: 240px;
  }

  .experience-slide {
    height: 240px;
    width: 1440px;
  }

  .text-img-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-left: 48px;
    margin-top: 42px;
    width: 100%;
    max-width: 900px;
  }

  .experience-title-h3,
  .experience-swiper-text {
    text-align: left;
    margin: 0;
    width: 100%;
    font-size: 32px;

  }

  .img-size {
    width: 400px;
    height: 240px;
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .experience-swiper-text {
    font-size: 28px;
  }
}