.getReady {
  margin-bottom: 40px;
}


.getReady-title {
  width: 225px;
  font-family: "Grape Nuts", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  padding-top: 40px;
  padding-bottom: 24px;
  margin-left: 75px;
}

.getReady-span {
  font-family: "Bungee Inline",
    sans-serif;
  color: #d4991a;
}

.img-getReady-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getReady-info {
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  font-family: "Grape Nuts",
    sans-serif;
  width: 343px;
  margin-bottom: 24px;
  margin-top: 16px;
}

.getReady-h3 {
  font-family: "Bungee Inline", sans-serif;
  color: #d4991a;
  font-weight: 400;
  font-size: 24px;
}

.getReady-contact {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  font-family: "Play",
    sans-serif;
  margin-bottom: 8px;
}

.getReady-link {
  font-family: "Play",
    sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-bottom: 8px;
}

.getReady-bg {
  background-color: #070d12;
  width: 100%;
}