.offer {
  background-color: #070d12;
  padding: 40px 0;
}

.offer-title {
  display: flex;
  justify-content: center;
  font-family: "Grape Nuts", sans-serif;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 24px;
}

.offer-span,
.offer-title-h3 {
  font-family: "Bungee Inline", sans-serif;
  color: #b42d2d;
}

.offer-title-h3 {
  font-weight: 400;
  font-size: 24px;
  width: 300px;
  margin-bottom: 16px;
}

.offer-swiper-text {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  width: 300px;
}

.swiper-gallery {
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  transition-property: transform;
  transition-timing-function: ease;
  will-change: transform;
}

.swiper-slide {
  flex-shrink: 0;
  width: 85%;
  /* по умолчанию: 1.2 слайда на мобилке */
  transition: opacity 0.5s ease;
}



.swiper-slide-active {
  margin-left: 0 !important;
}

.swiper-img {
  margin-bottom: 24px;
  width: 100%;
  object-fit: cover;
}

.custom-pagination {
  display: flex;
  max-width: 300px;
  height: 16px;
  justify-content: flex-start;
  margin: 20px auto 0;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.custom-pagination .bar {
  background-color: #b42d2d;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  flex: 1;
  margin-right: 2px;
}

.swiper-navigation {
  display: none;
}


@media screen and (min-width: 1440px) {


  .custom-pagination {
    display: none;
  }

  .swiper-navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
    pointer-events: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: var(--dark);
    border: 2px solid var(--red);
    border-radius: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    cursor: pointer;
  }

  .swiper-button-prev,
  .swiper-button-next {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .swiper-button-prev {
    margin-right: 120px;
  }


  .swiper-button-prev svg,
  .swiper-button-next svg {
    stroke: #fff;
    width: 24px;
    height: 24px;
  }

  .swiper-wrapper {
    display: flex;
    transition-property: transform;
    will-change: transform;
  }

  .swiper-gallery {
    max-width: calc(420px * 2.5 + 80px);
    margin: 0 auto;
    padding-left: 80px;
    position: relative;
  }

  .swiper-slide {
    width: 420px !important;
    flex-shrink: 0;
  }

  .swiper-button-prev svg path,
  .swiper-button-next svg path {
    stroke: #fff;
    fill: none;
  }
}