.offer {
  background-color: #070d12;
  padding: 40px 0;
}

.offer-title {
  display: flex;
  justify-content: center;
  font-family: "Grape Nuts", sans-serif;
  font-weight: 400;
  font-size: 34px;
  margin-bottom: 24px;
}

.offer-span,
.offer-title-h3 {
  font-family: "Bungee Inline", sans-serif;
  color: #b42d2d;
}

.offer-title-h3 {
  font-weight: 400;
  font-size: 24px;
  width: 300px;
  margin-bottom: 16px;
}

.offer-swiper-text {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  width: 300px;
}

.swiper-gallery {
  overflow: visible;
}

.swiper-wrapper {
  display: flex;
  transition-timing-function: ease;
  margin: 0 auto;
}

.swiper-slide {

  transition: opacity 0.5s ease;
}



.swiper-slide-active {
  margin-left: 0 !important;
}

.swiper-img {
  margin-bottom: 24px;
  width: 100%;
  object-fit: cover;
}

.custom-pagination {
  display: flex;
  max-width: 300px;
  height: 16px;
  justify-content: flex-start;
  margin: 20px auto 0;
  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.custom-pagination .bar {
  background-color: #b42d2d;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  flex: 1;
  margin-right: 2px;
}

.swiper-navigation {
  display: none;
}


@media screen and (min-width: 1440px) {


  .custom-pagination {
    display: none;
  }

  .swiper-navigation {
    --swiper-theme-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1280px;
    transform: translateY(-50%);
    padding: 0 10px;
    z-index: 10;
    margin-left: 80px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }




  .swiper-slide-active,
  .swiper-slide-next {
    opacity: 1;
    visibility: visible;
    margin-left: 0 !important;
  }

  .swiper-slide {
    width: 420px !important;
    flex-shrink: 0;
    opacity: 1;
    visibility: visible;
  }

  .swiper-wrapper {
    width: 1000px !important;
    margin-left: auto !important;
  }


  .container {
    max-width: none;
    padding: 0;
  }

  .swiper-gallery {
    padding-left: 80px;
    /* а не 172px */
    margin-left: 80px;
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
  }

  .swiper-img {
    object-fit: cover;
  }

}