.whyUs-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whyUs-title {
  font-family: "Grape Nuts",
    sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 130%;
  color: #f0f0f0;
  text-align: center;
  padding: 43px 52px 20px 53px;
}

.whyUs-span {
  color: #d4991a;
  font-family: "Bungee Inline", sans-serif;
}

.whyUs-img {
  max-width: 100%;
  margin-bottom: 20px;
}

.whyUs-card {
  background-color: #070d12;
  width: 343px;
  margin-bottom: 16px;
}

.whyUs-content {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.whyUs-header {
  display: flex;
  align-items: center;
  width: 240px;
  gap: 10px;
  margin-bottom: 14px;

}

.whyUs-number {
  font-family: "Bungee Inline", sans-serif;
  font-size: 54px;
  color: #ffffff;
}

.whyUs-heading {
  font-family: "Bungee Inline", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #d4991a;
}

.whyUs-description {
  font-family: "Play", sans-serif;
  font-size: 18px;
  color: #f0f0f0;
  line-height: 130%;
  text-align: center;
  max-width: 300px;
}

@media screen and (min-width: 1440px) {
  .whyUs-img {
    display: none;
  }

  .back-wrapper {
    width: 1440px;
    background-image: url(../img/whyUs/arrow-big.jpg);
  }


}