.whyUs {
  background-color: #070d12;
}

.whyUs-inner {}

.whyUs-title {
  padding: 40px 33px 24px 33px;
  font-family: "Grape Nuts", sans-serif;
  font-weight: 400;
  font-size: 34px;
}

.whyUs-span {
  font-weight: 400;
  font-size: 34px;
  font-family: "Bungee Inline", sans-serif;
  color: #b42d2d;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 40px;
}

.whyUs-slide {
  border: 1px solid #f0f0f0;
  padding: 16px;
  width: 343px;
  height: 554px;
}

.whyUs-img {
  width: 311px;
  height: 373px;
}

.text-img-wrapper {
  margin-top: 16px;
}

.whyUs-title-h3 {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #b42d2d;
}

.whyUs-swiper-text {
  font-family: "Grape Nuts", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;
  text-align: center;
  color: #f0f0f0;
}

.whyUs-swiper-text2 {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}